.features{
    &__item{
        display: flex;
        margin-bottom: 16px;
        padding-left: 4px;
        &:last-child{
            margin-bottom: 0;
        }
        span{
            flex: 1;
        }
        &:before{
            content: '';
            display: flex;
            width: 18px;
            height: 14px;
            background-image: url('../images/icons/check.png');
            margin-right: 19px;
            margin-top: 5px;
        }
    }
}