.maincontent{
    padding-top: 12px;
    max-width: 440px;
    &__title{
        margin-bottom: 23px;
    }
    &__features{
        margin-bottom: 48px;
    }
    @include phones{
        padding-top: 30px;
    }
}