//devices
$desctop: 1200px;
$laptop: 992px;
$tablets: 768px;
$phones: 480px;
$small-phones: 375px;
//colors
$grey: #7A8F99;
$white: #fff;
$green: #20A86B;
$red: #e15433;
$bg-color: #0b172a;
$color-field: #F5F8FA;
$white: #fff;
//base
$container: 1240px;
$base-font: 'Open Sans', sans-serif;
$base-size: 16px;
$base-line: 24px;
$base-color: $grey;
$base-bg: $bg-color;
